/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

/* Header styles */
header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-info img {
    width: 100px;
    height: 100px; /* Adjust height as needed */
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    flex-grow: 1; /* Allows the user info to grow and take remaining space */
}

.user-info h2 {
    margin-top: 0; /* Remove default margin */
}

.user-info p {
    margin-top: 5px;
    color: #666666;
}

/* Main styles */
main {
    max-width: 800px;
    margin: 20px auto;
}

.activity {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.latest-tweets, .latest-pictures {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.latest-tweets, .latest-pictures h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #333333;
}

.tweet {
    margin-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.tweet p {
    color: #333333;
}

.picture img {
    width: 100%;
    border-radius: 5px;
}